/*  OB2027 - Rich Black :: Borders, Text?
    4C7A99 - Steel Blue - Header/Footer Background
    E7ECEF - Anti-Flash White - Body/Content Background
    886176 - Chinese Violet - ??? Accents
    A18276 - Beaver (Brown) - ??? Accents */

/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside, audio, video
{
  margin: 0;
  padding: 0;
  border: 0;
}

/* Style rules for body and images */
body
{
  background-color: #1C5DA8;
  width:100%;
  height:100%;
  overflow-y:scroll;
  position: relative;
}

img, video
{
  max-width: 100%;
  display: block;
}

/* Style rule for scrollbar */
::-webkit-scrollbar {
  width:0;
}

/* Style rule for box sizing applies to all elements */
* {
  box-sizing: border-box;
}

/* Style rules for mobile viewport */

/* Style rules for header */
header
{
  top: 0;
}

/* Style rules for mobile nav hamburger area */

.mobile-nav {
    min-height: 100px;
}

.mobile-nav a {
  color: #0B2027;
  font-family: 'Francois One', sans-serif;
  text-align: center;
  font-size: 2em;
  text-decoration: none;
  padding: 3%;
  display: block;
}

.mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    width: 15%;
    right: 0px;
    padding-right: 15%;
  }

/* Show mobile class, hide tablet-desktop class*/
@media screen and (max-device-width: 767px), print
{ 
    .mobile, .mobile-nav
    {
        display: block;
    }
    .tablet-desktop, #menu-links, #category
    {
        display: none;
    }
}

/* Style rules for main content */
main
{
  background-color: #E7ECEF;
  padding: 20px;
  color: #0B2027;
  font-size: 1.15em;
  font-family: 'Roboto Slab', serif;
}

/* Style rules for footer content */
footer .copyright
{
  font-size: 0.75em;
  text-align: center;
  color: #fff;
  padding: 2% 4%;
  float: left;
  width: 100%;
}

footer p a
{
  color: #fff;
  text-decoration: none;
}

/* Media query for Tablet Viewport */
@media screen and (min-device-width: 768px), print
{
    /*Tablet Viewport: Show tablet-desktop class, hide mobile class */
    .tablet-desktop 
    {
        display: block;
    }

    .mobile, .mobile-nav, #category
    {
        display: none;
    }

    /* Nav */
    nav
    {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 100%;
        min-height: 20px;
    }

    nav ul
    {
        width:100%;
        text-align: center;
    }

    nav li
    {
        border: none;
        width:17.5%;
        padding:10px 1%;
        display: inline-block;
    }
    nav li a
    {
        color: #E7ECEF;
        text-decoration: none;
    }

    nav li:hover {
        background-color: #E7ECEF;
    }

    nav li:hover a {
        color: #0B2027;
        background-color: #E7ECEF;
    }
}

/* HomePage */

/* About */
.main-content
{
  width:75%;
}

.what-do p
{
  margin: 10px;
  padding: 10px;
  width: 90%;
  border: 2.5px solid #A18276;
  border-radius: 25px;
}

.cat-title
{
  width: 90%;
  
  height: min-content;
  border-radius: 5px;
  margin-top: 25px;
  margin-left: -10px;
  padding-left: 20px;
}

.cat-title:hover
{
    background-color: rgba(166, 169, 171, 0.25);
}

.member-slate
{
  margin-bottom: 10px;
  padding: 10px;
  height: 150px;
  width: 90%;
  border-radius: 25px;
}

.member-slate #picture
{
  /* find a way to keep 1-to-1; should be a square */
  position:absolute;
  width: 150px;
  height: 150px;
  padding: 5px;
  border: 5px solid #886176;
}


.reveal
{
  margin-left: 150px;
  padding: 5px;
  width:100%;
  height:150px;
}

.reveal #cover
{
  width: 80%;
  padding: 5px;
}

.reveal #info-reveal
{
  width: 80%;
  padding: 5px;
  background-color: rgba(166, 169, 171, 0.25);
  display: none;
}

.reveal #title
{
  font-size: 18pt;
  font-weight: 5pt; /* BOLD IT AHHHH */
}

.reveal:hover #cover
{
  display: none;
}

.reveal:hover #info-reveal
{
  display: block;
}
